<head>
   <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<header class=titulo_head>
   <h1>Juani Movie Data Base</h1>
<p>La base de datos con el peor diseño!</p>
 <section class=buscador>
<form class=input-buscador action="/" method="post">Buscá tu película 
   <input  type="text" name="title">
</form>
      <a class=linkpeli href="/peliculas" >Todas las Películas</a>
      <a class=linkpeli href="/" >Recomendados</a>
      <a class=linkpeli href="/estrenos">Ultimos Estrenos</a>
      <a class=linkpeli href="/create">Sumar Película</a>
    </section>
</header>   



        

